.div-container {


    background-color: rgb(10, 131, 196);
    width: 900px;
    height: 900px;
 
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;

}

.logo {
    display: flex;
    justify-content: left;
}

.secao-inpt {
    display: block;
    
}

.categoria input {
    
    border: none;
    width: 850px;
    
}

.fabricante {
    border: none;
    display: flex;
padding: 25px;
}

.fabricante .a {
    
    display: flex;


}

.fabricante .b {
    
    display: flex;


}

.fabricante .c {
    
    display: flex;


}

.maxpanimaisessoas {
    display: flex;
    
}

.animais {
    display: flex;
    padding: 25px;
}

.banheiro {
    display: flex;
    padding: 25px;
}
.embarque {
    display: flex;
    padding: 25px;
}



input {

    padding: 12px;
    margin: 8px;

}

.botao button {
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    padding: 15px;
    margin-left: 100px;

}